spring:
  application:
    name: spring-cloud-client1 #ЗўЮёзЂВсеп
server:
  port: 9002


eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8001/eureka/
